.forecast-list-item{
    width: 212px;
    display: flex;
    flex-direction: column;
    padding: 32px 0px;
    max-height: 30vh;
    &:hover{
        background-color: #51557A;
    } &:focus{
        background-color: darken(#51557A, 10%);
        border: none;
        outline: none;
    }

    .time, .temperature{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        color:#A8AABD;
    }
}