.weather-icon{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 3rem;

    img{
       width: 15rem;
    }

    @media screen and (max-width: 425px){
        img{
         width: 12rem;
        }
     }
     
     @media screen and (min-width: 426px) and (max-width: 768px){
        img{
         width: 15rem;
        }         
     }

     @media screen and (min-width: 769px){
        img{
         width: 15rem;
        }         
     }
}

.main{
    @media screen and (max-width: 425px){
        img{
         width: 23rem;
        }
     }

     @media screen and (min-width: 426px) and (max-width: 768px){
        img{
         width: 26rem;
        }         
     }

     @media screen and (min-width: 769px){
        img{
         width: 30rem;
        }         
     }
}